@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap");

:root {
  --blue-theme-background-color: #393e46;
  --blue-theme-main-color: #00fff5;
  --blue-theme-sub-text-color: #ffffff;
  --blue-theme-nav-background-color: #222831;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Roboto Slab", serif;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  background: var(--blue-theme-nav-background-color);
  height: 100%;
}

#root {
  height: 100%;
}
